<div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" style="margin-left:0px" href="<%= root_path %>">Questions</a>
        <ul class="nav">
          <form class="pull-left" action="">
            <input type="text" placeholder="Search">
          </form>
          <%= yield :page_topbar %>
        </ul>
      </div>
    </div>
  </div>